<h1 class="blog">
	F5blog
	<% if @desc_selection %>
		<span class='subtitle'><%= @desc_selection %>
		<%= link_to 'Back to Blog index', blog_path %></span>
	<% end %>
</h1>
<div id="blog_posts_list">
	<% @posts.each do |post| %>
	<div class="blog post">
	    <h2>
				<%= link_to post.title, :action => 'show', :id => post.id %>
				<span class="subtitle">
					( 
					<% if post.locale %>
						<%= image_tag("/images/icons/flags/"+post.locale+".png", :alt => post.locale, :border => 0 ) %>
					<% end %>
					<%= post.author %> - 
					<%= post.created_at.strftime("%d/%m/%y") %> - 
					Tags: <% post.tags.each do |t| %>
						<%=h t.name %>
						<% end %> )
				</span>
			</h2>
			
	    <p><%= post.content %></p>
	
			<div class="blog comments disqus">
				<%= link_to("Permalink", :action => 'show', :id => post.id, :anchor => "disqus_thread") %>
				<%= disqus_comment_counts %>
			</div>
			
		<!--
			<div class="blog comments">
				<b><%= I18n.t(:comments).capitalize %>:</b><br />
				<ul>
					<% post.comments.each do |c| %>
					<li>
						<b><%=h c.commenter %>:</b> 
						<%=h c.body %>
					</li>
					<% end %> 
					<li><%= link_to I18n.t(:add_comment), :action => 'show', :id => post.id %>
				</ul>
			</div>
		-->
			<br />
	</div>
	<% end %>
	
	<%= page_entries_info @posts %>
	<%= will_paginate @posts %>
</div>

<%= render :partial => 'sidebar' %>
