<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>F5lab - <%= @title %></title>
	<%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'site' %>
	<%= auto_discovery_link_tag(:rss, {:controller => "blog", :action => "feed", :format => 'rss',
																			:title => 'RSS of F5lab Blog' }) %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="F5lab.com" />
  <meta name="copyright" content="copyright@2008 www.F5lab.com" />
  <meta name="description" content="F5lab.com, fast and furious web development, with style..." />
  <meta name="keywords" content="F5lab web webapp rails ruby" />
  <meta name="robots" content="all" />
	<script type="text/javascript" charset="utf-8">
		//<![CDATA[
			
		//]]>
	</script>
</head>
<%= @body_id %>

  <div id="container">

    <%= render :partial => "shared/top" %>

    <%= render :partial => "site/site_header" %>

    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>

    <%= render :partial => "shared/footer" %>

  </body>
</html>
